// custom color scheme for the application
$theme-colors: (
    primary: #6805f2,
    secondary: #370aa1,
    success: #50e392,
    danger: #cd1f1c,
    warning: #fecc01,
    info: #5d89f1,
    light: #eedafc,
    black: #05010e,
    dark: #05010e,
);

// body background
$body-color-dark: #05010e;
$body-bg-dark: #05010e;

// --#{$data-bs-theme="dark"}bs-body-bg: #05010e;

// typography for the application
$font-family: "Open Sans", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// importing core bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// turning off bootstrap default glow / outline
textarea:focus,
textarea.form-control:focus,
select:focus,
select:active,
select.form-select:focus,
select.form-select:active,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[type="button"].form-control:focus,
[contenteditable].form-control:focus,
button:focus,
button:active {
    box-shadow: none;
}

select.form-select::after {
    color: #eedafc !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #6805f2 !important;
    font-weight: bolder !important;
}

.swiper-pagination-bullet {
    background-color: #9752f881 !important;
    font-weight: normal !important;
    transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullet:hover {
    width: 1vw !important;
    border-radius: 15px !important;
    font-weight: bolder !important;
}

.swiper-pagination-bullet-active {
    width: 2vw !important;
    border-radius: 15px !important;
    background-color: #6805f2 !important;
    font-weight: bolder !important;
}

.shadow {
    box-shadow: 0 10px 20px rgba(104, 5, 242, 0.188), 0 6px 6px rgba(104, 5, 242, 0.231);
    box-shadow: 0 0.5rem 1rem rgba(104, 5, 242, 0.188) !important;
}

.hover-shadow {
    box-shadow: 0 0.5rem 1rem rgba(104, 5, 242, 0) !important;
    transition: all 0.3s ease-in-out;
}

.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(104, 5, 242, 0.188) !important;
}

.swiper-slide {
    // margin: 5px;
    border-radius: 15px;
    margin-bottom: 7vh;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide:hover {
    box-shadow: 0 10px 20px rgba(104, 5, 242, 0.188), 0 6px 6px rgba(104, 5, 242, 0.231);
    transform: scale(0.95);
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6805f2;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #370aa1;
}
