.movie-search-form {
  padding: 5px;
  /* border: 2px solid red; */
}

input.form-control {
  border-radius: 0;
  width: 0;
  padding: 0;
  transition: width 0.5s ease-in-out, padding 0.1s ease-in-out;
}

.movie-search-form:hover > input.form-control,
input.form-control:active,
input.form-control:focus {
  width: 60%;
  padding: 0.375rem 0.75rem;
  margin-right: 10px;
  max-width: 100%;
}
